<div class="left">
	<p><%=@candid %> </p>
	<p><%=@loyal %> </p>
	<p><%=@intelligent %> </p>
	<p><%=@coolheaded %> </p>
	<p><%=@persistent %> </p>
	<p><%=@active %> </p>
	<p><%=@impatient %> </p>
	<p><%=@conservative %> </p>
	<p><%=@anxious %> </p>
</div>

<div class="right">
	<%= link_to image_tag("02.png");%>
</div>
